<div class="landing-page">
    <div class="wrapper">
      <div class="d-flex flex-column text-center justify-content-center align-items-center h-100">
        <h5 class="display-4 animated zoomIn">Welcome To DashBoard Page</h5>
        <p class="lead animated zoomIn">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis quia quidem rem autem cumque repudiandae earum omnis, ea nesciunt eveniet placeat in aliquam, consequatur voluptatum doloribus voluptas cum. A nulla iure temporibus quam hic nesciunt atque voluptate. Beatae rerum libero mollitia pariatur alias cumque, tenetur, voluptatum totam perspiciatis animi vitae?
             ipsum dolor sit amet consectetur adipisicing elit. Illo itaque reprehenderit tempora voluptate amet possimus consectetur provident officia, accusantium rem minima veritatis aliquam repellendus quae, qui id mollitia doloribus ducimus dolor quas quaerat quia at nulla! Natus beatae repudiandae fugiat 
            ducimus exercitationem officiis, quae doloremque qui, veniam rerum, sapiente illum? ipsum dolor sit amet, consectetur adipisicing elit. Dolore eius magni, nesciunt officiis quam quod repellendus. Iure odit sint sunt. Aliquam amet cumque debitis eaque facere nostrum numquam obcaecati quos.</p>
      </div>
    </div>
  </div>
  